<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Weather App123{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/styles.css' %}">
</head>
<body>
    <header>
        <h1>Weather App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'current_weather' %}">Current Weather</a></li>
                <li><a href="{% url 'favorite_locations' %}">Favorite Locations</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'personal_account' %}">My Account</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'weather/scripts.js' %}"></script>
</body>
</html>
