{% extends 'weather/base.html' %}

{% block title %}Favorite Locations{% endblock %}

{% block content %}
    <h1 class="h1-header">Favorite Locations</h1>
    <form method="post" action="{% url 'add_favorite_location' %}">
        {% csrf_token %}
        <label for="city">Add city:</label>
        <input type="text" id="city" name="city" placeholder="e.g. Liberec" required>
        <button type="submit">Add</button>
    </form>
    <h2 class="h2-header">Favorite Cities</h2>
    <ul>
        {% for location in locations %}
            <li class="favorite-city"><a href="{% url 'weather_forecast' location.city %}">{{ location.city }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
