{% extends 'weather/base.html' %}

{% block title %}Personal Account{% endblock %}

{% block content %}
    <h2 class="h1-header">Personal Account</h2>
    <p class="welcome-text">Welcome, <strong>{{ username }}</strong>!</p>
    {% if user.profile.is_subscribed %}
        <p class="subscribe-text">You are subscribed to the weather forecast service.</p>
        <form method="post" action="{% url 'unsubscribe' %}">
            {% csrf_token %}
            <button type="submit" class="unsub-button">Unsubscribe</button>
        </form>
    {% else %}
        <p class="subscribe-text">You are not subscribed to the weather forecast service.</p>
        <form method="post" action="{% url 'subscribe' %}">
            {% csrf_token %}
            <button type="submit" class="sub-button">Subscribe</button>
        </form>
    {% endif %}
{% endblock %}
